<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../vendor/magento/module-store/etc/config.xsd">
    <default>
        <settings>
            <general>
                <website_token>null</website_token>
                <stock_source>null</stock_source>
                <brand_attribute>null</brand_attribute>
                <warehouse_location_attribute>null</warehouse_location_attribute>
                <weight_unit>kg</weight_unit>
                <length_attribute>null</length_attribute>
                <width_attribute>null</width_attribute>
                <height_attribute>null</height_attribute>
                <dimension_unit>cm</dimension_unit>
                <store_id>1</store_id>
            </general>
        </settings>
    </default>
</config>
