<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../vendor/magento/module-config/etc/system_file.xsd">
    <system>
        <tab id="easysales" translate="label" sortOrder="10">
            <label>EasySales</label>
        </tab>
        <section id="settings" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Setari</label>
            <tab>easysales</tab>
            <resource>EasySales_Integrari::settings_config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Setari</label>

                <field id="website_token" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Website Token</label>
                    <comment>This token will be used to communicate with EasySales</comment>
                </field>

                <field id="stock_source" translate="label" type="select" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Stock Source</label>
                    <source_model>EasySales\Integrari\Model\Config\Source\StockSource</source_model>
                    <comment>Choose the default Stock Source as EasySales does not yet support multiple stock sources.</comment>
                </field>

                <field id="ean_attribute" translate="label" type="select" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>EAN attribute</label>
                    <source_model>EasySales\Integrari\Model\Config\Source\Attributes</source_model>
                </field>

                <field id="brand_attribute" translate="label" type="select" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Brand attribute</label>
                    <source_model>EasySales\Integrari\Model\Config\Source\Attributes</source_model>
                </field>

                <field id="warehouse_location_attribute" translate="label" type="select" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Warehouse Location attribute</label>
                    <source_model>EasySales\Integrari\Model\Config\Source\Attributes</source_model>
                </field>

                <field id="invoice_series" translate="label" type="text" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Invoice Series</label>
                    <comment>This field will be used to create the invoices with this prefix</comment>
                </field>
            </group>
            <group id="dimensions" translate="label" type="text" sortOrder="11" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Weight / Dimensions settings</label>

                <field id="weight_unit" translate="label" type="select" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Weight unit</label>
                    <source_model>EasySales\Integrari\Model\Config\Source\WeightUnits</source_model>
                    <comment>Choose the default weight unit used for products.</comment>
                </field>

                <field id="length_attribute" translate="label" type="select" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Length attribute</label>
                    <source_model>EasySales\Integrari\Model\Config\Source\Attributes</source_model>
                    <comment>Choose the attribute for which you enter Length of product.</comment>
                </field>

                <field id="width_attribute" translate="label" type="select" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Width attribute</label>
                    <source_model>EasySales\Integrari\Model\Config\Source\Attributes</source_model>
                    <comment>Choose the attribute for which you enter Width of product.</comment>
                </field>

                <field id="height_attribute" translate="label" type="select" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Height attribute</label>
                    <source_model>EasySales\Integrari\Model\Config\Source\Attributes</source_model>
                    <comment>Choose the attribute for which you enter Height of product.</comment>
                </field>

                <field id="dimension_unit" translate="label" type="select" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Dimensions unit</label>
                    <source_model>EasySales\Integrari\Model\Config\Source\DimensionUnits</source_model>
                    <comment>Choose the unit used for saving product dimensions.</comment>
                </field>

            </group>
        </section>
    </system>
</config>
